// light button
.button__main {
    position: relative;
    font-family: $font-main;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: $color-main;
    padding-left: 36px;
    padding-right: 56px;
    height: 44px;
    background: $color-light;
    border-radius: 22px;
    border: none;
    @media screen and (max-width: $tablet) { 

    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        font-size: 16px;
    }

    @media screen and (min-width: $desktop){
        font-size: 16px;
    }
}

.button__main::after {
    position: absolute;
    right: 38px;
    top: 53%;
    transform: translateY(-50%);
    font-size: 16px;
    content: ">";
}

.button__main:hover {
    background: $color-hover-dark;
    color: $color-light;
}