.footer-section {
    background-color: #fff5f6;
}

.button-icon {
    width: 34px;
    height: 34px;
    background-color: #fea5bb;
    border-radius: 50%;
}

.list-button {
    margin-left: 422px;
}