.button__main--header {
  z-index: 20;
  font-size: 16px;
  line-height: 1.3;

  @media screen and (min-width: 50px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  opacity: 0.5;
  z-index: 99;
}
