.header__burger {
  @media screen and (min-width: 50px) {
    display: block;
    width: 20px;
    height: 14px;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 19px;
    cursor: pointer;
    stroke: $color-main;
  }
  @media screen and (min-width: $tablet) {
    z-index: 10;
    margin-top: 0;
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }

  &:hover,
  &:focus {
    stroke: $color-hover-light;
  }
}
