.header {
  background: $color-bg-prime;
}

.header {
  & .container {
    @media screen and (min-width: 50px) {
      display: flex;
      justify-content: space-between;
      padding-top: 6px;
    }
    @media screen and (min-width: 768px) {
      justify-content: start;
      align-items: center;
      padding-top: 37px;
      padding-bottom: 15px;
    }
    @media screen and (min-width: 1280px) {
      justify-content: space-between;
    }
  }
}

.header__logo {
  min-width: 199px;
  height: 50px;
}
