.button__main--header {
  z-index: 20;
  font-size: 16px;
  line-height: 1.3;
  display: none;

  @media screen and (min-width: $desktop) {
    display: inline-block;
  }
  
}

.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  opacity: 0.5;
  z-index: 99;
  transform: translateY(0%) scale(1);

  &:hover {    
    transform: translateY(-10%) scale(1.2);
    opacity: 1;
    transition: transform $animationDuration $animationTimeFunction, opacity   $animationDuration $animationTimeFunction;

  }
}
