.button__modal-icon {
  position: relative;

  border-radius: 50%;

  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $color-main;
  }

  &:hover .hero__btn,
  &:focus .hero__btn {
    fill: $color-light;
  }

  @media (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
  @media (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: $color-main;

  @media (min-width: 768px) {
    width: 6px;
    height: 6px;
  }
  @media (min-width: 1280px) {
    width: 10px;
    height: 10px;
  }
}

.modal.shop {
  font-family: $font-fat;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  color: $color-main;
  background: $color-bg-prime;
  border: 1px solid $color-hover-dark;

  background-image: url(../images/img-for-hero-header-desktop/icecream-shop.png);
  background-repeat: no-repeat;
  background-position: center;

  & .close-button {
    margin-bottom: 0;
  }
}

.shop__subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;

  color: $color-light;
  margin-top: 350px;
}
