.hero__image {
  &--hide {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.img-pos {
  position: absolute;
}

.hero__ellipse {
  @media screen and (min-width: 50px) {
    top: 7%;
    right: 0;
  }
  @media screen and (min-width: 768px) {
    top: -25%;
    left: 38%;
  }
  @media screen and (min-width: 1280px) {
    top: -3.3em;
    left: 38%;
  }
}

.hero__icecream {
  @media screen and (min-width: 50px) {
    bottom: 0;
    left: 35%;
  }
  @media screen and (min-width: 768px) {
    left: 49%;
  }
}

.hero__tasty {
  bottom: 0;
  right: 15px;
}

.hero__cafes {
  @media screen and (min-width: 768px) {
    top: 0;
    right: 15px;
  }
  @media screen and (min-width: 1280px) {
    top: 10%;
  }
}

.hero__foodtracks {
  @media screen and (min-width: 768px) {
    top: 18%;
    right: 15px;
  }
  @media screen and (min-width: 1280px) {
    top: 27%;
  }
}

.hero__count-img {
  position: absolute;
  width: 50px;
  height: 44px;
  display: flex;
  flex-direction: column;
  color: $color-light;
  font-weight: 400;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    // transform: translateX(-100%);
    background-color: white;
    background: url(../images/svg/circle.svg);

    @media screen and (min-width: $desktop) {
      width: 30px;
      height: 30px;
      background-size: contain;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    width: 92px;
    height: 77px;
  }
}

.hero__count-text {
  position: relative;
  color: $color-main;
  font-family: $font-fat;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  z-index: 20;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero__count-type {
  font-size: 8px;
  line-height: 1.25;
  white-space: pre;
  text-align: right;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.3;
  }
}
