.page-title {
  font-family: $font-fat;
  font-style: normal;
  font-weight: normal;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-light;

  @media screen and (min-width: 50px) {
    font-size: 26px;
    line-height: 1.15;
    margin-top: 137px;
    margin-bottom: 19px;
    z-index: 20;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;

    padding-top: 83px;
    padding-left: 70px;
    margin-bottom: 25px;
  }

  &--decor {
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-main;

    @media screen and (min-width: 50px) {
      font-size: 48px;
      line-height: 96.5%;
    }
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 90.5%;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 90.5%;
    }
  }
}
