<section id="about" class="about">
    <!-- Зоя Ратушная -->
    <div class="container">
        <p class= "about__title animate__animated animate__slideInDown"> tradition and love</p>
        <h2 class= "about__title-primery animate__animated animate__slideInDown">how it’s made?</h2>
        <div class="about__content">
            <div class="about__img scale">
                <picture>
                    <!-- desktop -->
                    <source media="(min-width: 1280px)" srcset="images/img_about/about_desktop@1x.png  1x, images/img_about/about_desktop@2x.png 2x" />
                    <!-- tablet -->
                    <source media="(min-width: 768px) and (max-width: 1279px)" srcset="images/img_about/about_tablet@1x.png  1x, images/img_about/about_tablet@2x.png 2x" />
                    <!-- mobile -->
                    <source media="(min-width: 320px) and (max-width: 767px)" srcset="images/img_about/about_mobile@1x.png  1x, images/img_about/about_mobile@1x.png 2x" />
                    <img src="images/img_about/about_desktop@1x.png" alt="how it’s made">
                </picture>
            </div>
            <div class="about__textContent">
                <p class="about__text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__entry">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
                </p>
                <div>
                    <a href="#popup" class="button__main about__button">
                        Read more  
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- modal window popup -->
    <div id="popup" class="popup">
        <a href="#about" class="popup__area"></a>
        <div class="popup__body">
            <div class="popup__content">
                <a href="#about" class="popup__close scale">X</a>
                <h2 class="popup__title"> 100% NATURAL PRODUCTS</h2>
                <p class="popup__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos blanditiis nam aperiam deserunt tenetur officiis unde consequatur obcaecati explicabo minima, dolorem et beatae sit ab molestias voluptas. Officia, amet deleniti!<br>
                    <div class="popup__img scale">
                        <img src="images/img_about/milk_modal@1x.png" alt="NATURAL PRODUCTS">
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>