<section class="about">
    <!-- Зоя Ратушная -->
    <div class="container">
        <p class= "about__title"> tradition and love</p>
        <h2 class= "about__title-primery">how it’s made?</h2>
        <div class="about__content">
            <div class="about__img">
                <picture>
                    <!-- desktop -->
                    <source media="(min-width: 1200px)" srcset="img_about/about_desktop@1x.png  1x, img_about/about_desktop@2x.png 2x" />
                    <!-- tablet -->
                    <source media="(min-width: 768px) and (max-width: 1199px)" srcset="img_about/about_tablet@1x.png  1x, img_about/about_tablet@2x.png 2x" />
                    <!-- mobile -->
                    <source media="(min-width: 320px) and (max-width: 1199px)" srcset="img_about/about_mobile@1x.png  1x, img_about/about_mobile@1x.png 2x" />
                    <img src="img_about/about_desktop@1x.png" alt="about">
                </picture>
            </div>
            <div class="about__textContent">
                <p class="about__text"> 
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__entry">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="submit" class="about__button">
                    Read more
                </button>
            </div>
        </div>
    </div>
</section>
