<!-- Иван Добони -->
<section class="advantages__section">
    <div class="advantages-box container">
        <h2 class="visually-hidden">
            advantages
        </h2>
        <ul class="advantages animate__animated animate__slideInUp">

            <li class="advantages__item">
                <div class="advantages__icon1"></div>
                <h3 class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>

            <li class="advantages__item">
                <div class="advantages__icon2"></div>
                <h3 class="advantages__title">16KG</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon3"></div>
                <h3 class="advantages__title">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>