<!-- Андрей Юрченко -->
<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <div class="card-set">
      <ul class="card">
        <li class="card__item">
          <div class="card__location">
            <p>CAFE</p>
          </div>

          <h3 class="card__name">Chicago</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="work-time">
            <li class="work-time__item">
              <h4 class="work-time__day">Monday - Friday</h4>
              <p class="work-time__time">
                <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-time__item">
              <h4 class="work-time__day">Saturday - Sunday</h4>
              <p class="work-time__time">
                <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location card--color">FOODTRUCK</div>
          <h3 class="card__name">Los Angeles</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="work-time">
            <li class="work-time__item">
              <h4 class="work-time__day">Monday - Friday</h4>
              <p class="work-time__time">
                <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-time__item">
              <h4 class="work-time__day">Saturday - Sunday</h4>
              <p class="work-time__time">
                <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location">CAFE</div>
          <h3 class="card__name">New York</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="work-time">
            <li class="work-time__item">
              <h4 class="work-time__day">Monday - Friday</h4>
              <p class="work-time__time">
                <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
              </p>
            </li>
            <li class="work-time__item">
              <h4 class="work-time__day">Saturday - Sunday</h4>
              <p class="work-time__time">
                <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
          <a href="tel:+610383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <button type="button" class="button">Our Locations</button>
    <button type="button" class="button button--color">Franchise</button>
  </div>
</section>
