<!-- Андрей Юрченко -->

<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <div class="card-set">
      <ul class="card">
        <li class="card__item">
          <div class="card__location">CAFE</div>
          <h3 class="card__name card--bottom">Chicago</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__name">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
          </p>
          <h3 class="card__name">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location card--color">FOOD TRUCK</div>
          <h3 class="card__name card--bottom">Los Angeles</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__name">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
          </p>
          <h3 class="card__name">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location">CAFE</div>
          <h3 class="card__name card--bottom">Chicago</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__name">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="06:00">06:00 AM</time> - <time datetime="10:00">10:00 PM</time>
          </p>
          <h3 class="card__name">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="08:00">08:00 AM</time> - <time datetime="16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="button-container">
      <a href="#pop-up" class="button button-container__button">
        Our Locations
        <svg class="button__icon" width="10" height="10">
          <use href="images/svg/white-arrow.svg#white-arrow"></use>
        </svg>
      </a>
      <button type="button" class="button button-container--color">
        Franchise
        <svg class="button__icon" width="10" height="10">
          <use href="images/svg/red-arrow.svg#red-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <div id="pop-up" class="pop-up">
    <a href="#contacts" class="pop-up__area"></a>
    <div class="pop-up__body">
      <div class="pop-up__content">
        <h3 class="pop-up__text">How to find us:</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.7939267553297!2d30.505603315777712!3d50.463561979477234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce6a51d54e4f%3A0x3e14dad76c22547f!2z0JrQvdC40LbQvdCw0Y8g0L_QvtC70LrQsA!5e0!3m2!1sru!2sua!4v1643735059850!5m2!1sru!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          class="pop-up__map"
        ></iframe>
        <a href="#contacts" class="pop-up__close scale">X</a>
      </div>
    </div>
  </div>
</section>
