<!-- Андрей Юрченко -->
<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <div class="card-set">
      <ul class="card">
        <li class="card__item">
          <div class="card__location">CAFE</div>
          <h3 class="card__name">Chicago</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__day">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
          </p>
          <h3 class="card__day">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location card--color">FOOD TRUCK</div>
          <h3 class="card__name">Los Angeles</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__day">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
          </p>
          <h3 class="card__day">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>

        <li class="card__item">
          <div class="card__location">CAFE</div>
          <h3 class="card__name">Chicago</h3>
          <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <h3 class="card__day">Monday - Friday</h3>
          <p class="card__time">
            <time datetime="T06:00">06:00 AM</time> - <time datetime="T10:00">10:00 PM</time>
          </p>
          <h3 class="card__day">Saturday - Sunday</h3>
          <p class="card__time card--border">
            <time datetime="T08:00">08:00 AM</time> - <time datetime="T16:00">16:00 PM</time>
          </p>
          <a href="tel:+610383766284" class="card__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button type="button" class="button button-container__button">Our Locations</button>
      <button type="button" class="button button-container--color">Franchise</button>
    </div>
  </div>
</section>
