<!-- Рыбак Сергей -->
<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="customer-reviews__wrapper">
      <img
        src="images/customers/customer-emily-85.jpg"
        alt="girl"
        class="customer-reviews__photo"
      />
      <div class="customer-reviews__text-box">
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="customer-reviews__author">Emily, Los Angeles</p>
    </div>
  </div>
</section>
