<!-- Светлана Федоренко -->
<section class="footer-section">
    <div class="container">
        <div class="footer-text">
            <p class="text-one">
                homemade ice cream made
            </p>
            <p class="text-two">
                with passion
            </p>
        </div>
        <div class="icon-footer">
            <ul class="list-button">
                <li class="button-link">
                    <a class="social-link-btn" href="https://github.com/" target="_blank">
                        <svg class="button-icon" width="34" height="34">
                            <use href="./images/elipse.svg#icon-Ellipse"></use>
                            <use href="./images/footer.svg#icon-github"></use>   
                        </svg>
                    </a>
                </li>
                <li class="button-link">
                    <a class="social-link-btn" href="https://telegram.org/" target="_blank">
                        <svg class="button-icon" width="34" height="34">
                            <use href="./images/elipse.svg#icon-Ellipse"></use>
                            <use href="./images/footer.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="button-link">
                    <a class="social-link-btn" href="https://uk-ua.facebook.com/" target="_blank">
                        <svg class="button-icon" width="34" height="34">
                            <use href="./images/elipse.svg#icon-Ellipse"></use>
                            <use href="./images/footer.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="contacts-block">
            <ul class="contacts-block__box">
                <li class="contacts-block__item">
                    <p class="contacts-block__text">Feel free to contact</p>
                </li>
                <li class="contacts-block__item"><a class="contacts-block__links" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></li>
            </ul>
        </div>
        <!-- <div class="contacts-block">
<p class="contacts-block__text">Feel free to contact</p>
<a class="contacts-block__links" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
</div> -->
        <div class="copyright">
            <ul class="copyright__list">
                <li class="copyright__item"><a href="/" class="copyright__link">&#169; 2019 - IceCream.</a></li>
                <li class="copyright__item"><a href="/" class="copyright__link">&nbsp; All Rights Reserved.</a></li>
            </ul>
        </div>