<!-- Светлана Федоренко -->
<footer class="footer-section">
  <div class="container">
    <div class="footer-position animate__animated animate__slideInDown">
      <div class="footer-text">
        <p class="text-one">homemade ice cream made</p>
        <p class="text-two">with passion</p>
      </div>
      <div class="icon-contact">
        <div class="icon-footer">
          <ul class="list-button">
            <li class="button-link">
              <a
                class="social-link-btn"
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="github"
              >
                <svg class="button-icon" width="19" height="19">
                  <use href="./images/footer.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="button-link">
              <a
                class="social-link-btn"
                href="https://telegram.org/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="telegram"
              >
                <svg class="button-icon" width="19" height="19">
                  <use href="./images/footer.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="button-link">
              <a
                class="social-link-btn"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="facebook"
              >
                <svg class="button-icon" width="9" height="19">
                  <use href="./images/footer.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <span class="contact"
          >Feel free to contact<a href="tel:+610383766284" class="phone">
            +61 (0) 383 766 284</a
          ></span
        >
      </div>
    </div>
    <div class="footer-year">
      <p class="footer-year-text">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
