<!-- Николай Тимощук -->
<section class="gallery" id="gallery">
    <div class="container">
        <h2 class="gallery__tittle visually-hidden"></h2>
        <ul class="gallery__list list">
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/kulfi40@1x.jpg 40w,
                            /images/kulfi80@1x.jpg 80w,
                            /images/kulfi80@2x.jpg 160w,
                            /images/kulfi85@1x.jpg 85w,
                            /images/kulfi170@1x.jpg 170w,
                            /images/kulfi170@2x.jpg 340w,
                            /images/kulfi140@1x.jpg 140w,
                            /images/kulfi280@1x.jpg 280w,
                            /images/kulfi280@2x.jpg 560w
                            " 
                        sizes="12.5vw"
                        src="/images/kulfi40@1x.jpg" alt="Photo 1. Indian cuisine Kulfi" />
                </div>
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/cone40@1x.jpg 40w,
                            /images/cone80@1x.jpg 80w,
                            /images/cone80@2x.jpg 160w,
                            /images/cone85@1x.jpg 85w,
                            /images/cone170@1x.jpg 170w,
                            /images/cone170@2x.jpg 340w,
                            /images/cone140@1x.jpg 140w,
                            /images/cone280@1x.jpg 280w,
                            /images/cone280@2x.jpg 560w
                            "
                        sizes="12.5vw"
                        src="/images/cone40@1x.jpg" alt="Photo 2. Ice cream cone" />
                </div>
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/yogurt40@1x.jpg 40w,
                            /images/yogurt80@1x.jpg 80w,
                            /images/yogurt80@2x.jpg 160w,
                            /images/yogurt85@1x.jpg 85w,
                            /images/yogurt170@1x.jpg 170w,
                            /images/yogurt170@2x.jpg 340w,
                            /images/yogurt140@1x.jpg 140w,
                            /images/yogurt280@1x.jpg 280w,
                            /images/yogurt280@2x.jpg 560w
                            " 
                        sizes="12.5vw"
                        src="/images/yogurt40@1x.jpg" alt="Photo 3. Yogurt ice blocks" />
                </div>    
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/scoops40@1x.jpg 40w,
                            /images/scoops80@1x.jpg 80w,
                            /images/scoops80@2x.jpg 160w,
                            /images/scoops85@1x.jpg 85w,
                            /images/scoops170@1x.jpg 170w,
                            /images/scoops170@2x.jpg 340w,
                            /images/scoops140@1x.jpg 140w,
                            /images/scoops280@1x.jpg 280w,
                            /images/scoops280@2x.jpg 560w
                            " 
                        sizes = "25vw"
                        src="/images/scoops40@1x.jpg" alt="Photo 4. Assorted ice cream" />
                </div>   
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/girl40@1x.jpg 40w,
                            /images/girl80@1x.jpg 80w,
                            /images/girl80@2x.jpg 160w,
                            /images/girl85@1x.jpg 85w,
                            /images/girl170@1x.jpg 170w,
                            /images/girl170@2x.jpg 340w,
                            /images/girl140@1x.jpg 140w,
                            /images/girl280@1x.jpg 280w,
                            /images/girl280@2x.jpg 560w
                            " 
                        sizes="12.5vw"
                        src="/images/girl40@1x.jpg" alt="Photo 5. Girl with Ice cream" />
                </div>   
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/fruits40@1x.jpg 40w,
                            /images/fruits80@1x.jpg 80w,
                            /images/fruits80@2x.jpg 160w,
                            /images/fruits85@1x.jpg 85w,
                            /images/fruits170@1x.jpg 170w,
                            /images/fruits170@2x.jpg 340w,
                            /images/fruits140@1x.jpg 140w,
                            /images/fruits280@1x.jpg 280w,
                            /images/fruits280@2x.jpg 560w
                            "
                    sizes="12.5vw"
                    src="/images/fruits40@1x.jpg" alt="Photo 6. Yogurt fruit salad" />
                </div>    
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/gelato40@1x.jpg 40w,
                            /images/gelato80@1x.jpg 80w,
                            /images/gelato80@2x.jpg 160w,
                            /images/gelato85@1x.jpg 85w,
                            /images/gelato170@1x.jpg 170w,
                            /images/gelato170@2x.jpg 340w,
                            /images/gelato140@1x.jpg 140w,
                            /images/gelato280@1x.jpg 280w,
                            /images/gelato280@2x.jpg 560w
                            "
                        sizes="12.5vw"
                        src="/images/gelato40@1x.jpg" alt="Photo 7. Italian cuisine Gelato" />
                </div>   
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/dog40@1x.jpg 40w,
                            /images/dog80@1x.jpg 80w,
                            /images/dog80@2x.jpg 160w,
                            /images/dog85@1x.jpg 85w,
                            /images/dog170@1x.jpg 170w,
                            /images/dog170@2x.jpg 340w,
                            /images/dog140@1x.jpg 140w,
                            /images/dog280@1x.jpg 280w,
                            /images/dog280@2x.jpg 560w
                            "
                        sizes="12.5vw"
                        src="/images/dog40@1x.jpg" alt="Photo 8. Puppie also want Ice cream" />
                </div>    
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/coffee40@1x.jpg 40w,
                            /images/coffee80@1x.jpg 80w,
                            /images/coffee80@2x.jpg 160w,
                            /images/coffee85@1x.jpg 85w,
                            /images/coffee170@1x.jpg 170w,
                            /images/coffee170@2x.jpg 340w,
                            /images/coffee140@1x.jpg 140w,
                            /images/coffee280@1x.jpg 280w,
                            /images/coffee280@2x.jpg 560w
                            "
                        sizes="12.5vw"
                        src="/images/coffee40@1x.jpg" alt="Photo 9. Iced coffee with ice cream" />
                </div>    
            </li>
            <li class="gallery__item" tabindex="1">
                <div class="gallery__image-thumb">
                    <img class="gallery__image" srcset="
                            /images/milkshake40@1x.jpg 40w,
                            /images/milkshake80@1x.jpg 80w,
                            /images/milkshake80@2x.jpg 160w,
                            /images/milkshake85@1x.jpg 85w,
                            /images/milkshake170@1x.jpg 170w,
                            /images/milkshake170@2x.jpg 340w,
                            /images/milkshake140@1x.jpg 140w,
                            /images/milkshake280@1x.jpg 280w,
                            /images/milkshake280@2x.jpg 560w
                            "
                        sizes="12.5vw"
                        src="/images/milkshake40@1x.jpg" alt="Photo 10. Milkshake in a jar" />
                </div>     
            </li>
        </ul>
    </div>    
</section>

