<!-- Николай Тимощук -->
<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery__tittle visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/kulfi40@1x.jpg   40w,
              /images/kulfi80@1x.jpg   80w,
              /images/kulfi80@2x.jpg  160w,
              /images/kulfi85@1x.jpg   85w,
              /images/kulfi170@1x.jpg 170w,
              /images/kulfi170@2x.jpg 340w,
              /images/kulfi140@1x.jpg 140w,
              /images/kulfi280@1x.jpg 280w,
              /images/kulfi280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/kulfi40@1x.jpg"
            alt="Photo 1. Indian cuisine Kulfi"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/cone40@1x.jpg   40w,
              /images/cone80@1x.jpg   80w,
              /images/cone80@2x.jpg  160w,
              /images/cone85@1x.jpg   85w,
              /images/cone170@1x.jpg 170w,
              /images/cone170@2x.jpg 340w,
              /images/cone140@1x.jpg 140w,
              /images/cone280@1x.jpg 280w,
              /images/cone280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/cone40@1x.jpg"
            alt="Photo 2. Ice cream cone"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/yogurt40@1x.jpg   40w,
              /images/yogurt80@1x.jpg   80w,
              /images/yogurt80@2x.jpg  160w,
              /images/yogurt85@1x.jpg   85w,
              /images/yogurt170@1x.jpg 170w,
              /images/yogurt170@2x.jpg 340w,
              /images/yogurt140@1x.jpg 140w,
              /images/yogurt280@1x.jpg 280w,
              /images/yogurt280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/yogurt40@1x.jpg"
            alt="Photo 3. Yogurt ice blocks"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image gallery__image--big"
            srcset="
              /images/scoops40@1x.jpg   40w,
              /images/scoops80@1x.jpg   80w,
              /images/scoops80@2x.jpg  160w,
              /images/scoops85@1x.jpg   85w,
              /images/scoops170@1x.jpg 170w,
              /images/scoops170@2x.jpg 340w,
              /images/scoops140@1x.jpg 140w,
              /images/scoops280@1x.jpg 280w,
              /images/scoops280@2x.jpg 560w
            "
            sizes="25vw"
            src="/images/scoops40@1x.jpg"
            alt="Photo 4. Assorted ice cream"
          />
          <div class="gallery__image-overlay"></div>
          <button type="button" class="js-open-modal gallery__button" data-modal="gallery">
            <svg
              class="gallery__svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <path
                d="M411.928 512H100.072c-39.131 0-70.966-31.835-70.966-70.966v-320.25c0-39.131 31.835-70.966 70.966-70.966h311.857c39.131 0 70.966 31.835 70.966 70.966v213.222c0 8.078-6.55 14.629-14.629 14.629-8.08 0-14.629-6.551-14.629-14.629V120.784c0-22.998-18.71-41.707-41.707-41.707H100.072c-22.998 0-41.707 18.71-41.707 41.707v320.25c0 22.998 18.71 41.707 41.707 41.707h311.857c22.998 0 41.707-18.71 41.707-41.707v-28.032c0-8.078 6.55-14.629 14.629-14.629 8.08 0 14.629 6.551 14.629 14.629v28.032c.001 39.131-31.835 70.966-70.966 70.966z"
              />
              <path
                d="M200.936 444.66a14.586 14.586 0 0 1-10.345-4.285c-5.713-5.713-5.713-14.976 0-20.691L301.16 309.117c5.713-5.711 14.976-5.711 20.69 0 5.713 5.713 5.713 14.976 0 20.69L211.282 440.376a14.585 14.585 0 0 1-10.346 4.284z"
              />
              <path
                d="M332.081 360.171c-16.556 0-31.998-6.323-43.479-17.804-24.405-24.406-23.568-64.951 1.864-90.381 16.504-16.505 44.364-28.032 67.748-28.032 14.735 0 27.066 4.542 35.661 13.137 26.607 26.608 8.656 79.862-14.893 103.411-12.683 12.685-29.34 19.669-46.901 19.669zm26.132-106.958c-15.475 0-36.145 8.548-47.059 19.463-14.024 14.022-14.859 36.005-1.864 49.003 5.954 5.953 14.049 9.234 22.79 9.234 9.746 0 19.055-3.941 26.212-11.099 16.896-16.894 25.246-51.677 14.893-62.032-3.776-3.777-10.226-4.569-14.972-4.569zM324.274 447.307a14.586 14.586 0 0 1-10.345-4.285L207.078 336.171c-5.713-5.713-5.714-14.976 0-20.691 5.713-5.711 14.978-5.711 20.689 0l106.852 106.851c5.713 5.713 5.713 14.976 0 20.69a14.583 14.583 0 0 1-10.345 4.286z"
              />
              <path
                d="M180.025 362.299c-10.641 0-20.648-4.145-28.172-11.671l-42.582-42.581c-5.713-5.713-5.713-14.976 0-20.69 5.713-5.711 14.976-5.711 20.69 0l42.582 42.582c1.998 2 4.657 3.1 7.483 3.1 2.828 0 5.485-1.102 7.483-3.1l34.03-34.03c2-1.998 3.1-4.657 3.1-7.483 0-2.826-1.1-5.485-3.1-7.483l-42.582-42.582c-5.713-5.713-5.713-14.976 0-20.69 5.713-5.71 14.976-5.71 20.689 0l42.582 42.582c7.525 7.527 11.67 17.531 11.67 28.173s-4.145 20.647-11.67 28.173l-34.03 34.03c-7.525 7.526-17.53 11.67-28.173 11.67z"
              />
              <path
                d="M208.131 331.163a14.588 14.588 0 0 1-10.345-4.285l-53.425-53.427c-5.713-5.713-5.713-14.976 0-20.691 5.713-5.711 14.976-5.71 20.689 0l53.425 53.427c5.713 5.713 5.713 14.976 0 20.691a14.574 14.574 0 0 1-10.344 4.285z"
              />
              <path
                d="M468.265 190.192H43.735c-8.08 0-14.629-6.551-14.629-14.63v-54.779c0-39.131 31.835-70.966 70.966-70.966h311.857c39.131 0 70.966 31.835 70.966 70.966v54.779c0 8.079-6.551 14.63-14.63 14.63zM58.364 160.933h395.271v-40.149c0-22.998-18.71-41.707-41.707-41.707H100.072c-22.998 0-41.707 18.71-41.707 41.707l-.001 40.149z"
              />
              <path
                d="M148.535 100.943c-8.08 0-14.63-6.551-14.63-14.629V14.629c0-8.078 6.55-14.629 14.63-14.629 8.08 0 14.629 6.551 14.629 14.629v71.685c0 8.078-6.549 14.629-14.629 14.629zM375.222 100.943c-8.08 0-14.629-6.551-14.629-14.629V14.629c0-8.078 6.55-14.629 14.629-14.629 8.08 0 14.629 6.551 14.629 14.629v71.685c0 8.078-6.55 14.629-14.629 14.629z"
              />
            </svg>
            <span class="gallery__text-tablet">Eat us</span>
            <span class="gallery__text-desktop">Choose your delicious</span>
            <span class="gallery__arrow"
              ><svg
                class="gallery__arrow-svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 22 22"
              >
                <path
                  d="M15.244 11.767 8.39 18.672a1.12 1.12 0 1 1-1.59-1.579l6.064-6.11-6.11-6.064a1.12 1.12 0 0 1 1.58-1.59l6.904 6.854a1.117 1.117 0 0 1 .006 1.584"
                /></svg></span>
          </button>
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/girl40@1x.jpg   40w,
              /images/girl80@1x.jpg   80w,
              /images/girl80@2x.jpg  160w,
              /images/girl85@1x.jpg   85w,
              /images/girl170@1x.jpg 170w,
              /images/girl170@2x.jpg 340w,
              /images/girl140@1x.jpg 140w,
              /images/girl280@1x.jpg 280w,
              /images/girl280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/girl40@1x.jpg"
            alt="Photo 5. Girl with Ice cream"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/fruits40@1x.jpg   40w,
              /images/fruits80@1x.jpg   80w,
              /images/fruits80@2x.jpg  160w,
              /images/fruits85@1x.jpg   85w,
              /images/fruits170@1x.jpg 170w,
              /images/fruits170@2x.jpg 340w,
              /images/fruits140@1x.jpg 140w,
              /images/fruits280@1x.jpg 280w,
              /images/fruits280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/fruits40@1x.jpg"
            alt="Photo 6. Yogurt fruit salad"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/gelato40@1x.jpg   40w,
              /images/gelato80@1x.jpg   80w,
              /images/gelato80@2x.jpg  160w,
              /images/gelato85@1x.jpg   85w,
              /images/gelato170@1x.jpg 170w,
              /images/gelato170@2x.jpg 340w,
              /images/gelato140@1x.jpg 140w,
              /images/gelato280@1x.jpg 280w,
              /images/gelato280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/gelato40@1x.jpg"
            alt="Photo 7. Italian cuisine Gelato"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/dog40@1x.jpg   40w,
              /images/dog80@1x.jpg   80w,
              /images/dog80@2x.jpg  160w,
              /images/dog85@1x.jpg   85w,
              /images/dog170@1x.jpg 170w,
              /images/dog170@2x.jpg 340w,
              /images/dog140@1x.jpg 140w,
              /images/dog280@1x.jpg 280w,
              /images/dog280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/dog40@1x.jpg"
            alt="Photo 8. Puppie also want Ice cream"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/coffee40@1x.jpg   40w,
              /images/coffee80@1x.jpg   80w,
              /images/coffee80@2x.jpg  160w,
              /images/coffee85@1x.jpg   85w,
              /images/coffee170@1x.jpg 170w,
              /images/coffee170@2x.jpg 340w,
              /images/coffee140@1x.jpg 140w,
              /images/coffee280@1x.jpg 280w,
              /images/coffee280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/coffee40@1x.jpg"
            alt="Photo 9. Iced coffee with ice cream"
          />
        </div>
      </li>
      <li class="gallery__item" tabindex="1">
        <div class="gallery__image-thumb">
          <img
            class="gallery__image"
            srcset="
              /images/milkshake40@1x.jpg   40w,
              /images/milkshake80@1x.jpg   80w,
              /images/milkshake80@2x.jpg  160w,
              /images/milkshake85@1x.jpg   85w,
              /images/milkshake170@1x.jpg 170w,
              /images/milkshake170@2x.jpg 340w,
              /images/milkshake140@1x.jpg 140w,
              /images/milkshake280@1x.jpg 280w,
              /images/milkshake280@2x.jpg 560w
            "
            sizes="12.5vw"
            src="/images/milkshake40@1x.jpg"
            alt="Photo 10. Milkshake in a jar"
          />
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- GALLERY SECTION END HERE -->

<!-- GALLERY MODAL START HERE -->
<div class="modal gallery__modal modal--gallery" data-modal="gallery">
  <img
    class="gallery__menu"
    srcset="images/menu320@1x.jpg 320w, images/menu640@1x.jpg 640w, images/menu640@2x.jpg 1280w"
    sizes="(min-width: 768px) 640px, 100vw"
    src="images/menu320@1x.jpg"
    alt="Offers our menu with prices"
  />
  <button type="button" class="js-modal-close close-button">
    <svg
      class="close-button__icon"
      viewBox="0 0 30 30"
      width="30px"
      height="30px"
      aria-label="Закрытие меню"
    >
      <path
        d="M21 10.108 19.892 9 15.5 13.392 11.108 9 10 10.108l4.392 4.392L10 18.892 11.108 20l4.392-4.392L19.892 20 21 18.892 16.608 14.5 21 10.108Z"
      />
    </svg>
  </button>
</div>

<!-- GALLERY MODAL END HERE -->
