<!-- Николай Тимощук -->
<section class="gallery" id="gallery">
    <div class="container">
        <h2 class="gallery__tittle visually-hidden"></h2>
        <ul class="gallery__list list">
            <li class="gallery__item"><div class="example__image-thumb">
                <img srcset="
                        /images/kulfi40@1x.jpg 40w,
                        /images/kulfi80@1x.jpg 80w,
                        /images/kulfi80@2x.jpg 160w,
                        /images/kulfi85@1x.jpg 85w,
                        /images/kulfi170@1x.jpg 170w,
                        /images/kulfi170@2x.jpg 340w,
                        /images/kulfi140@1x.jpg 140w,
                        /images/kulfi280@1x.jpg 280w,
                        /images/kulfi280@2x.jpg 560w
                     " 
                    sizes="(min-width: 1280px) 140px, (min-width: 768px) 85px, 40px"
                    src="/images/kulfi40@1x.jpg" alt="Блюдо индийской кухни Кульфи" /></li>
            <li class="gallery__item">2</li>
            <li class="gallery__item">3</li>
            <li class="gallery__item">4</li>
            <li class="gallery__item">5</li>
            <li class="gallery__item">6</li>
            <li class="gallery__item">7</li>
            <li class="gallery__item">8</li>
            <li class="gallery__item">9</li>
            <li class="gallery__item">10</li>
        </ul>
    </div>
    
</section>