<!-- Дмитрий Юрченко -->
<!-- Шапка -->
<header class="header" id="header">
  <div class="container">
    <a href="#" class="header__link">
      <img
        class="header__logo"
        src="images/img-for-hero-header-desktop/logo.png"
        alt="Logo Icecream-shop"
      />
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item"><a class="site-nav__link" href="#header" >Home</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="#products">Our products</a></li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#customer-reviews">About us</a>
        </li>
        <li class="site-nav__item"><a class="site-nav__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>

    <svg
      class="header__burger"
      aria-label="Open mobile menu"
      data-menu-btn-open
    >
      <use href="images/img-for-hero-header-tablet/burger.svg#burger"></use>
    </svg>

    <button class="button__main button__main--header" type="button" aria-label="Choose your tasty" >Buy now</button>
  </div>
</header>
<!-- Герой -->
<section class="hero">
  <div class="container">
    <h1 class="page-title animate__animated animate__slideInDown">
      ice cream<br />made with<br /><span class="page-title--decor">passion</span>
    </h1>

    <div class="header__wrapper animate__animated animate__slideInDown">
      <a class="button__main hide button__main--hero" href="#gallery">Products</a>
      <a class="button__main hide button__main--hero" href="#about">How it’s made?</a>
    </div>

    <div class="hero__content">
      <picture class="hero__image hero__image--hide animate__animated animate__slideInLeft">
        <source
          media="(min-width: 1280px)"
          srcset="
            images/img-for-hero-header-desktop/milk.png    188w,
            images/img-for-hero-header-desktop/milk_x2.png 376w
          "
          sizes="188px"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/img-for-hero-header-tablet/milk.png    124w,
            images/img-for-hero-header-tablet/milk_x2.png 248w
          "
          sizes="124px"
        />
        <img src="images/img-for-hero-header-desktop/milk.png" alt="Milk in the glass" />
      </picture>
      <div class="hero__descr animate__animated animate__slideInRight">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur ad ipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="button__modal-icon js-open-modal" data-modal="shop" aria-label="Button for open modal">
          <svg class="hero__btn">
            <use href="images/PRODUCTS_IMAGES/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
    <picture class="hero__ellipse img-pos animate__animated animate__slideInDown">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/img-for-hero-header-desktop/circle.png     538w,
          images/img-for-hero-header-desktop/circle_x2.png 1076w
        "
        sizes="538px"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/img-for-hero-header-tablet/circle.png    324w,
          images/img-for-hero-header-tablet/circle_x2.png 648w
        "
        sizes="324px"
      />
      <source
        media="(min-width: 50px)"
        srcset="
          images/img-for-hero-header-mobile/circle.png    284w,
          images/img-for-hero-header-mobile/circle_x2.png 568w
        "
        sizes="284px"
      />
      <img src="images/img-for-hero-header-desktop/circle.png" alt="Pink allipse" />
    </picture>

    <picture class="hero__icecream img-pos animate__animated animate__slideInUp">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/img-for-hero-header-desktop/icecream.png    236w,
          images/img-for-hero-header-desktop/icecream_x2.png 472w
        "
        sizes="236px"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/img-for-hero-header-tablet/icecream.png    143w,
          images/img-for-hero-header-tablet/icecream_x2.png 286w
        "
        sizes="143px"
      />
      <source
        media="(min-width: 50px)"
        srcset="
          images/img-for-hero-header-mobile/icecream.png    171w,
          images/img-for-hero-header-mobile/icecream_x2.png 342w
        "
        sizes="171px"
      />
      <img src="images/img-for-hero-header-desktop/icecream.png" alt="Big tasty icecream" />
    </picture>

    <picture
      class="hero__tasty img-pos hero__image--hide animate__animated animate__rotateInUpRight"
    >
      <source
        media="(min-width: 1280px)"
        srcset="
          images/img-for-hero-header-desktop/tasty.png    293w,
          images/img-for-hero-header-desktop/tasty_x2.png 586w
        "
        sizes="293px"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/img-for-hero-header-tablet/tasty.png    168w,
          images/img-for-hero-header-tablet/tasty_x2.png 336w
        "
        sizes="168px"
      />
      <img src="images/img-for-hero-header-desktop/tasty.png" alt="Delighted girl" />
    </picture>

    <picture class="hero__cafes img-pos hero__image--hide animate__animated animate__swing">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/img-for-hero-header-desktop/cafes.png     72w,
          images/img-for-hero-header-desktop/cafes_x2.png 144w
        "
        sizes="72px"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/img-for-hero-header-tablet/cafes.png    43w,
          images/img-for-hero-header-tablet/cafes_x2.png 86w
        "
        sizes="43px"
      />
      <img src="images/img-for-hero-header-desktop/cafes.png" alt="Number of cafes" />
    </picture>

    <picture class="hero__foodtracks img-pos hero__image--hide animate__animated animate__swing">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/img-for-hero-header-desktop/foodtrucks.png     72w,
          images/img-for-hero-header-desktop/foodtrucks_x2.png 144w
        "
        sizes="72px"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/img-for-hero-header-tablet/foodtrucks.png    43w,
          images/img-for-hero-header-tablet/foodtrucks_x2.png 86w
        "
        sizes="43px"
      />
      <img src="images/img-for-hero-header-desktop/foodtrucks.png" alt="Number of foodtrucks" />
    </picture>
  </div>
</section>
<!-- Меню для мобилки -->
<div class="is-hidden menu" data-menu>
  <div class="menu__container">
    <button type="button" class="close-button menu__icon" aria-label="close button" data-menu-btn-close>
      <svg class="close-button__icon" viewBox="0 0 30 30" width="30px" height="30px" aria-label="Close menu">
        <path
          d="M21 10.108 19.892 9 15.5 13.392 11.108 9 10 10.108l4.392 4.392L10 18.892 11.108 20l4.392-4.392L19.892 20 21 18.892 16.608 14.5 21 10.108Z">
      </svg>
    </button>
    <div class="menu__button">
      <button class="button__main button--size" type="button" aria-label="Button for buy">Buy now</button>
    </div>
  </div>
  <nav class="menu__site-nav">
    <ul class="menu__site-nav-list">
      <li class="menu__site-nav-item"><a class="site-nav__link" href="#header" js-menu-link>Home</a></li>
      <li class="menu__site-nav-item"><a class="site-nav__link" href="#products" js-menu-link>Our products</a></li>
      <li class="menu__site-nav-item">
        <a class="site-nav__link" href="#about" js-menu-link>How it’s made?</a>
      </li>
      <li class="menu__site-nav-item">
        <a class="site-nav__link" href="#customer-reviews" js-menu-link>About us</a>
      </li>
      <li class="menu__site-nav-item"><a class="site-nav__link" href="#contacts" js-menu-link>Contact</a></li>
    </ul>
  </nav>
</div>
<!-- Модальное окно -->
<div class="modal shop" data-modal="shop" >
  <button type="button" class="close-button menu__icon js-modal-close" aria-label="close button" >
      <svg class="close-button__icon" viewBox="0 0 30 30" width="30px" height="30px" aria-label="Close menu">
        <path
          d="M21 10.108 19.892 9 15.5 13.392 11.108 9 10 10.108l4.392 4.392L10 18.892 11.108 20l4.392-4.392L19.892 20 21 18.892 16.608 14.5 21 10.108Z">
      </svg>
    </button>
  <h3 class="shop__title">welcome<br> in our shop</h3>

  <p class="shop__subtitle">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, quas voluptas. Odit quod nam
    iusto dolor placeat libero pariatur officia cumque? Non vitae fugit magnam, quo accusantium
    eos incidunt ut.
  </p>
</div>
