<!-- Дмитрий Юрченко -->
<!-- Шапка -->
<header class="header">
  <div class="container">
    <a href="#" class="header__link">
      <img
        class="header__logo"
        src="images/img-for-hero-header-desktop/logo.png"
        alt="Логотип магазина"
      />
    </a>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item"><a class="site-nav__link" href="#">Home</a></li>
        <li class="site-nav__item"><a class="site-nav__link" href="#">About us</a></li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Our products</a>
        </li>
        <li class="site-nav__item"><a class="site-nav__link" href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="header__button">
      <button class="button button--header" type="button">Buy now</button>
    </div>
  </div>
</header>
<!-- Герой -->
<section class="hero">
  <div class="container">
    <h1 class="page-title">
      ice cream<br />made with<br /><span class="page-title--decor">passion</span>
    </h1>
    <div class="hero__buttons">
      <a class="hero__link" href="#">
        <button class="button button--products" type="button">Products</button>
      </a>
      <a class="hero__link" href="#">
        <button class="button button--about" type="button">How it’s made?</button>
      </a>
    </div>
    <div class="hero__image">
      <img src="images/img-for-hero-header-desktop/milk.png" alt="Молоко в кувшине с надписью" />
      <div class="hero__descr">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur ad ipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img src="images/img-for-hero-header-desktop/arrow-right.svg" alt="Кнопка для модалки" />
      </div>
    </div>
    <div class="hero__ellipse img-pos">
      <img src="images/img-for-hero-header-desktop/allipse.png" alt="Розовый круг" />
    </div>
    <div class="hero__icecream img-pos">
      <img src="images/img-for-hero-header-desktop/icecream.png" alt="Красивое вкусное мороженое" />
    </div>
    <div class="hero__tasty img-pos">
      <img src="images/img-for-hero-header-desktop/tasty.png" alt="Восхищенная девушка" />
    </div>
    <div class="hero__cafes img-pos">
      <img src="images/img-for-hero-header-desktop/group16.png" alt="Колличество кофешек" />
    </div>
    <div class="hero__foodtracks img-pos">
      <img src="images/img-for-hero-header-desktop/group23.png" alt="Колличество фуд-траков" />
    </div>
  </div>
</section>
