<!-- Анатолий Васильев -->
 <section class="products__section">

    <p class="products__properties">100% natural</p>

      <h2 class="product__name">products</h2>"
      <ul>
          <li class="products__item">
              <h3 class="products__title">ice cream</h3>
              <p class="products__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iure magnam nobis, quas quisquam reiciendis sunt omnis consequatur nostrum amet eveniet inventore totam repellendus, quis sed illum, voluptatibus natus molestias?</p>
              <a href="" class="products__link"></a>
          </li>
          <li class="products__item">
             <h3 class="products__title">ice coffee</h3>
             <p class="products__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iure magnam nobis, quas quisquam reiciendis sunt omnis consequatur nostrum amet eveniet inventore totam repellendus, quis sed illum, voluptatibus natus molestias?</p>
             <a href="" class="products__link "></a>
          </li>
          <li class="products__item">
             <h3 class="products__title">milkshakesproducts__link </h3>
             <p class="products__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque iure magnam nobis, quas quisquam reiciendis sunt omnis consequatur nostrum amet eveniet inventore totam repellendus, quis sed illum, voluptatibus natus molestias?</p>
             <a href="" class="products__link "></a>
          </li>
      </ul>