<!-- Анатолий Васильев -->
 <div class="container" id="products">
      <section class="products__section">
        <p class="products__properties">100% natural</p>

        <h2 class="product__name">products</h2>
        "
        <ul class="products__list">
          <li class="products__item products-creams">
            <h3 class="products__title products--cream">ice cream</h3>
            <p class="products__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
            <button type="button" class="products__link">
              <svg width="15" height="15" fill="red">
                <use
                  class="products__btn"
                  href="images/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
            <!-- <a href="" class="products__link"></a> -->
          </li>
          <li class="products__item poducts-cofee">
            <h3 class="products__title products--cofee">ice coffee</h3>
            <p class="products__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
            <button type="button" class="products__link">
              <svg width="15" height="15" fill="red">
                <use
                  class="products__btn"
                  href="images/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
          </li>
          <li class="products__item products-milkshakes">
            <h3 class="products__title products--milk">milkshakes</h3>
            <p class="products__subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et.
            </p>
            <button type="button" class="products__link">
              <svg width="15" height="15" fill="red">
                <use
                  class="products__btn"
                  href="images/symbol-defs.svg#icon-arrow-right2"
                ></use>
              </svg>
            </button>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
