.header {
  background: $color-bg-prime;
}

.header {
  & .container {
    @media screen and (min-width: 480px) {
      display: flex;
    }
    @media screen and (min-width: 768px) {
      align-items: center;
      padding-top: 37px;
      padding-bottom: 15px;
    }
    @media screen and (min-width: 1280px) {
      justify-content: space-between;
      padding-bottom: 84px;
    }
  }
}

.header__link {
  display: block;
}

.header__logo {
  width: 199px;
  height: 50px;
}

.header__burger {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: block;
    width: 20px;
    height: 14px;
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__button {
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
    align-items: center;
  }
}
