.header {
  & .container {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    margin-bottom: 84px;

    background-color: $color-bg-prime;
  }
}

.header__link {
  display: block;
}

.header__logo {
  width: 199px;
  height: 50px;
}

.header__button {
  display: inline-flex;
  align-items: center;
}
