.hero {
  background: $color-bg-prime;
}

.hero {
  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.hero__buttons {
  display: inline-flex;
  padding-left: 70px;
  margin-bottom: 56px;
}

.page-title {
  font-family: $font-fat;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $color-light;

  padding-left: 70px;
  margin-bottom: 25px;

  &--decor {
    font-size: 58px;
    line-height: 90.5%;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-main;
  }
}

.hero__link {
  display: block;
}

.button--products {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  width: 104px;
  height: 40px;

  margin-right: 15px;

  &:focus,
  &:hover {
    background: $color-hover-dark;
    color: $color-light;
    cursor: pointer;
  }
}

.button--about {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  width: 138px;
  height: 40px;

  &:focus,
  &:hover {
    background: $color-hover-light;
    cursor: pointer;
  }
}

.hero__image {
  display: inline-flex;
  padding-left: 37px;
  padding-bottom: 45px;
}

.hero__descr {
  width: 200px;
  margin-left: 30px;
  padding-top: 55px;
}

.hero__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;

  color: $color-light;

  margin-bottom: 20px;
}

.img-pos {
  position: absolute;
}

.hero__ellipse {
  top: -7.3em;
  left: 38%;
}

.hero__icecream {
  bottom: 0;
  left: 49%;
}

.hero__tasty {
  bottom: 0;
  right: 15px;
}

.hero__cafes {
  top: -12px;
  right: 15px;
}

.hero__foodtracks {
  top: 16%;
  right: 15px;
}
