.products__properties {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  color: $color-second;
  margin-bottom: 15px;
  text-align: -webkit-center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__section {
  position: relative;
  padding-top: 121px;
  padding-bottom: 98px;
  @media (min-width: 768px) {
    padding-top: 122px;
  }
  @media (min-width: 1280px) {
    padding-top: 127px;
  }
}
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__name {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  text-align: -webkit-center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: 144px;

  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
  }
}
.products__title {
  position: relative;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 66px;
  padding-top: 144px;
  padding-left: 53px;
  padding-right: 53px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-light;
  @media (min-width: 768px) {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 166px;
  }

  @media (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $color-light;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    padding-left: 11px;
    padding-right: 11px;
  }
  @media (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
  }
}
.products__list {
  @media (min-width: 768px) {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
  }
  @media (min-width: 1280px) {
    margin-top: -30px;
    margin-left: -30px;
  }
}
.products__item {
  width: 280px;
  height: 485px;
  background: $color-bg-prime;
  border-radius: 24px;

  @media (min-width: 768px) {
    width: 220px;
    height: 485px;
    flex-basis: calc((100% / 3) - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  @media (min-width: 1280px) {
    width: 329px;
    height: 525px;
    flex-basis: calc((100% / 3) - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.products__item:not(:last-child) {
  @media (max-width: 767px) {
    margin-bottom: 130px;
  }
}
.products__wraper {
  padding-top: 161px;
}
.products__title::before {
  content: '';
  position: absolute;
  background-size: contain;
  width: 249px;
  height: 252px;
  left: 20px;
  top: -115px;

  background-repeat: no-repeat;
  @media (min-width: 768px) {
    left: -10px;
  }
  @media (min-width: 1280px) {
    left: 45px;
  }
}
.products--cream::before {
  background-image: url(../images/PRODUCTS_IMAGES/products/tel/1x/pic1.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tel/2x/pic1@2x.png);
  }

  @media (min-width: 768px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/1x/tabl.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/2x/tabl@2x.png);
  }

  @media (min-width: 1280px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/1x/desk.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/2x/desk@2x.png);
  }
}
.products--cofee::before {
  background-image: url(../images/PRODUCTS_IMAGES/products/tel/1x/pic2.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tel/2x/pic2@2x.png);
  }

  @media (min-width: 768px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/1x/tabl1.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/2x/tabl1@2x.png);
  }

  @media (min-width: 1280px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/1x/desk1.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/2x/desk1@2x.png);
  }
}
.products--milk::before {
  background-image: url(../images/PRODUCTS_IMAGES/products/tel/1x/pic3.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tel/2x/pic3@2x.png);
  }

  @media (min-width: 768px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/1x/tabl2.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/tablet/2x/tabl2@2x.png);
  }

  @media (min-width: 1280px) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/1x/desk2.png);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/PRODUCTS_IMAGES/products/desktop/2x/desk2@2x.png);
  }
}
.products__title::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 6px;
  top: 200px;
  left: 127px;
  background-image: url(../images/PRODUCTS_IMAGES/grup.png);
  @media (min-width: 768px) {
    left: 95px;
    top: 215px;
  }
  @media (min-width: 1280px) {
    left: 150px;
    top: 230px;
  }
}
.products__btn {
  fill: $color-main;
}
.products__link:hover .products__btn,
.products__link:focus .products__btn {
  fill: $color-light;
}

.poducts-cofee {
  background-color: #f0d1a5;
}
.products-milkshakes {
  background-color: #c2e297;
}

.products__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 40px 120px 40px 120px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $color-main;
  }
  @media (min-width: 768px) {
    margin-left: 90px;
    margin-right: 90px;
  }
  @media (min-width: 1280px) {
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 62px;
    margin-bottom: 50px;
  }
}

.cream {
  background-image: url(../images/PRODUCTS_IMAGES/icecream.jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cofee {
  background-image: url(../images/PRODUCTS_IMAGES/cofee.jpg);
  background-size: cover;
}
.milk {
  background-image: url(../images/PRODUCTS_IMAGES/milksheik.jpg);
  background-size: cover;
}
.text-window {
  padding-top: 90px;
  color: rgb(13, 24, 56);
  @media (min-width: 768px) {
    padding-top: 250px;
  }
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  background-color: $color-main;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.card__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  padding-top: 90px;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
}
.modal-window.modal-window {
  max-width: 280px;
  border-radius: 24px;

  @media (min-width: 768px) {
    max-width: 500px;
    height: 500px;
  }
  @media (min-width: 1280px) {
  }
}
